body {
  background-image: url('./assets/background.jpg');
  text-align: center;
}

.title {
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 2em;
  font-weight: 300;
}

.chart-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.date-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filters-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0 0 10px;
}

.filters-label {
  color: white;
}

.filters-input {
  margin: 10px;
}

.symbol-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px 0 10px 0;
}